model Softmax.XNotifi.Models.ClientModel
@{
    ViewBag.Title = "New Client";
}
<div class="row" style="padding-top:45px">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()


            @Html.Partial("_Registration")
        }

    </div>
    <div class="col-md-4">

    </div>
    

</div>
