 <table bgcolor="#EFEFEF" border="0" cellpadding="0" cellspacing="0" height="100%" id="bodyTable" style="outline:0" valign="top" width="100%">
    <tbody>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" id="emailContainer" style="outline:0;margin:auto;" valign="top" width="640">
                    <tbody>
                        <tr>
                            <td>
                                <table align="center" border="0" cellpadding="0" cellspacing="0" id="emailColumn" style="outline:0" valign="top" width="100%">
                                    <tbody>
                                        <tr>
                                            <td style="background-color:#20495B;padding:20px">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" id="emailColumn" style="outline:0" valign="top" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td id="mobileHide" width="100">&nbsp;</td>
                                                            <td align="center" id="emailColumn" width="440">
                                                                <a href="#" name="header_crest" target="_blank">
                                                                    <img alt="" border="0" src="http://ekostreetlighttest.powertechnigeria.com/Content/images/lightup1.fw.png" style="display:block!important;text-decoration:none;outline:0!important">
                                                                </a>
                                                            </td>
                                                            <td align="right" class="mobileCenter_padTop" id="emailColumn" valign="top" width="100">
                                                                <span style="font-family:Verdana,sans-serif;color:#fff;font-size:14px">#date</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="blockHeading" style="padding:35px 20px 0px 20px;background:#fff;">
                                                <h2 style="font-family:Arial,Helvetica,sans-serif;color:#000;font-size:28px;font-weight:bold;line-height:100%;letter-spacing:1px">#NotificationHeader</h2>
                                                <hr style="margin-top:20px;border:0;border-top:1px solid #eee" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="background-color:#fff">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" id="emailColumnPadded" style="outline:0" valign="top" width="600">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left" id="emailColumn" style="padding-bottom:20px;" colspan="2" width="600">
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" class="mobile-margin__bottom" id="emailColumn" style="outline:0;width:100%;" valign="top">
                                                                    <tbody>
                                                                        <tr style="height:78px">
                                                                            <td id="body" style="padding:20px 20px 10px 20px;width:100%;">
                                                                               #NotificationBody
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" class="greyBackground-dark" style="background-color:#262626">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" id="emailColumn" style="outline:0;background-color:#262626" valign="top" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td bgcolor="#262626" class="spacer" height="15" width="100%" style="color:#fff;text-align:center;padding:20px;line-height:1.7em;font-weight:600;">
                                                              
                                                                &copy; SBC #YEAR All Rights Reserved.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>